.dsidebar{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f0f4f9;
    padding: 25px 15px; 
    background-color: #171717;
}

.dsidebar img{
    width: 20px;
    
}

.dsidebar .dmenu{
display: block;
margin-left: 15px;
cursor: pointer;
}

.dsidebar .dnew-chat{
    margin-top:50px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    background-color: #e6eaf1;
    border-radius: 50px;
    font-size: 14px;
    color: rgb(82, 82, 82);
    cursor: pointer;

}
.dsidebar .dnew-chat:hover{
    background-color: #e2e6eb;

}

.dsidebar .drecent{
    display: flex;
    flex-direction: column;
    color: white;

}

.dsidebar .drecent-title{
    margin-top: 30px;
    margin-bottom: 20px;

}

.dsidebar .drecent-entry{
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 10px;
    padding-right: 40px;
    border-radius: 50px;
    color: #ffffff;
    cursor: pointer;
}

.dsidebar .drecent-entry:hover{
background-color: #212121;

}

.dsidebar .dbottom{
    display: flex;
    flex-direction: column;
}

.dsidebar .dbottom-item{
    padding-right: 10px;
    cursor: pointer;

}